@import "tailwindcss";

.boxShadow {
  box-shadow: 1px 2px black;
}

@font-face {
  font-family: "PinkyBlues";
  src: local("Pinky-Blues"),
       url("../src/assets/fonts/Pinky-Blues.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Hamish";
  src: local("Hamish"),
       url("../src/assets/fonts/Hamish.otf") format("opentype");
  font-weight: normal;
}


body {
  font-family: "PinkyBlues";
  scroll-behavior: smooth;
  background-color: #f4ebce;
}
